# Pandas Series Object

In [1]:
import numpy as np
import pandas as pd

<ipython-input-1-59ab05e21164>:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
my_data = [1945, 1995, 1999]
label_index = ['UN', 'WTO', 'G20']

In [6]:
#creating pandas series object
pd.Series(my_data)

0    1945
1    1995
2    1999
dtype: int64

In [8]:
pd.Series(my_data, label_index)

UN     1945
WTO    1995
G20    1999
dtype: int64

In [9]:
object = pd.Series(my_data)

In [15]:
#create pandas series object from dictonary
my_dict = {1: 'fruits', 2: 'vegitables' , 3: 'bread' }

In [16]:
pd.Series(my_dict)

1        fruits
2    vegitables
3         bread
dtype: object

In [19]:
#indexing in pandas series object 
object = pd.Series(my_data)

In [20]:
object

0    1945
1    1995
2    1999
dtype: int64

In [21]:
object[0]

1945

In [22]:
object = pd.Series(my_data, label_index)

In [23]:
object

UN     1945
WTO    1995
G20    1999
dtype: int64

In [24]:
object['WTO']

1995

#### Basic Operations on Pandas Series Object

In [2]:
import pandas as pd
import numpy as np

<ipython-input-2-baf368f80de7>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [13]:
quater_one_sales = {"MSFT": 100 , "APPL": 100, "TSLA": 90 }
quater_two_sales = {"NVDA": 100, 'MSFT': 80, "APPL":85}

In [14]:
q1 = pd.Series(quater_one_sales)

q2 = pd.Series(quater_two_sales)

In [15]:
q1

MSFT    100
APPL    100
TSLA     90
dtype: int64

In [16]:
q1['TSLA']

90

In [17]:
q2

NVDA    100
MSFT     80
APPL     85
dtype: int64

In [18]:
q2['NVDA']

100

In [19]:
#broadcasting operation on pandas series object
q1 * 2

MSFT    200
APPL    200
TSLA    180
dtype: int64

In [21]:
q2 / 2

NVDA    50.0
MSFT    40.0
APPL    42.5
dtype: float64

In [23]:
#perform basic opertion on two pandas series objects
first_half_sales = q1 + q2

In [24]:
first_half_sales

APPL    185.0
MSFT    180.0
NVDA      NaN
TSLA      NaN
dtype: float64

In [26]:
#using spcial .add() methon in pandas -- subtituting a fill value for missing data in q1 & q2 series object
first_half_sales = q1.add(q2, fill_value= 0)

In [27]:
first_half_sales

APPL    185.0
MSFT    180.0
NVDA    100.0
TSLA     90.0
dtype: float64