# Text Methods in pandas dataframe

##### i.e, pandas built-in string methods with python's string methods

In [2]:
 # -- > the text datas that needs to be cleaned or manipulated for processing data info, **NB:- we can use .Apply() method also for these..

import pandas as pd
import numpy as np

In [3]:
# ---> refer doc pandas for text methods in pandas  --> StringDtype

email = 'henry@gmail.com'

In [4]:
email

'henry@gmail.com'

In [5]:
email.split('@')  # --> splits email string at @ into a list of string

['henry', 'gmail.com']

In [8]:
names = pd.Series(['jose', 'marie', 'clerk', '24'])  # create pandas series obj

In [9]:
names

0     jose
1    marie
2    clerk
3       24
dtype: object

In [10]:
names.str.upper()  # ---> converts string in pandas name series into uppercase

0     JOSE
1    MARIE
2    CLERK
3       24
dtype: object

In [11]:
names

0     jose
1    marie
2    clerk
3       24
dtype: object

In [12]:
email

'henry@gmail.com'

In [13]:
# *** -> check if string data is what we expect 

email.isdigit()  # ---> checks if  email is digit (number dtype)

False

In [14]:
'24'.isdigit()

True

In [15]:
names

0     jose
1    marie
2    clerk
3       24
dtype: object

In [16]:
names.str.isdigit()  # ---> checks if datas in series or column is a digit **** we can use it filter our series

0    False
1    False
2    False
3     True
dtype: bool

In [17]:
# split, grab from series & expand the pandas series object into pandas dataframe table

# eg:-

tech_finace = ['goog, msft, appl', 'vw, tsla, gm']

In [18]:
len(tech_finace)

2

In [20]:
tickers = pd.Series(tech_finace)  # --> create pandas series object call tickers

tickers

0    goog, msft, appl
1        vw, tsla, gm
dtype: object

In [21]:
tickers.str.split(',')  # ---> splits string at commas in object

0    [goog,  msft,  appl]
1        [vw,  tsla,  gm]
dtype: object

In [22]:
tech = 'goog, msft, appl'

In [24]:
tech.split(',')

['goog', ' msft', ' appl']

In [25]:
tech.split(',')[0]

'goog'

In [28]:
tickers.str.split(',').str[0]  # --> returns index 0 item from both list of str data

0    goog
1      vw
dtype: object

In [29]:
tickers.str.split(',', expand=True)  # ---> creates the columns of split str in list, i.e we create dataframe table

      0      1      2
0  goog   msft   appl
1    vw   tsla     gm

In [30]:
# stacking string calls

mess_names = pd.Series(['akki  ', 'shi;ju', '  lione   ' ])

In [31]:
mess_names

0        akki
1        shi;ju
2      lione
dtype: object

In [32]:
mess_names[2]

'  lione   '

In [33]:
# clean mess up datas 

mess_names.str.replace(';', '')  # replaces ; with empty string in pd series obj

0        akki
1         shiju
2      lione
dtype: object

In [34]:
mess_names.str.strip()  # --> strp off whitespace in string in pandas series obj

0      akki
1    shi;ju
2     lione
dtype: object

In [35]:
mess_names.str.strip()[2]

'lione'

In [36]:
mess_names.str.replace(';','').str.strip()  # --> replace ; with empty sring & get rid of whitspace from string in pandas series obj

0     akki
1    shiju
2    lione
dtype: object

In [39]:
mess_names.str.replace(';','').str.strip().str.capitalize()  # ---> capitalixe our string data & we have a clean data :)

# --> i.e we can stack up clean & readable string methods calls on strings in pandas series / columns object

0     Akki
1    Shiju
2    Lione
dtype: object

In [65]:
# Apply() method calls - we can also use custom func method if it is complicate & we have to look for certain if condition then we cant get use builtin str methods 

mess_names

0        akki
1        shi;ju
2      lione
dtype: object

In [62]:
def CleanName(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

In [64]:
mess_names.apply(CleanName)

0     Akki
1    Shiju
2    Lione
dtype: object