# Time methods in pandas

In [2]:
# basic python ---> built-in datetime object contain date & time information whic we can extract

# pandas ---> like builtin .str() (string method), it has builtin .dt() method for datetime object to extract info on date & time -- 
# **useful in feature engineering & Ml

#eg- timestameped sales data ---> we want to predict if customer buys or not base on their hisytoical trend (time data)

# extract info ---.> day , week v/s weekend, am v/s pm etc

# *** NB - many ML models are not able to understand datetime obj, but can understand that are cateregorical, eg- day of the wweek , am vs pm 

# special time series forcasting algorithnm seperatee from ML models for time series data analysis

#*** pandas builtin method to extract info from column that isdatetime 


import numpy as np
import pandas as pd

from datetime import datetime  # importing datetime obj

In [3]:
# python datetime basics

myyear = 2024
mymonth = 1
myday = 1
myhour = 2
mymin = 30
mysec = 30

In [4]:
mydate = datetime(myyear, mymonth, myday)  # passing in year, mont, day

In [6]:
mydate   # --> by default set hour, min ,sec as zero

datetime.datetime(2024, 1, 1, 0, 0)

In [7]:
mydatetime = datetime(myyear, mymonth, myday, myhour, mymin, mysec)  # --> pass in all datetime args

In [9]:
mydatetime # ---> returns all datetime info

datetime.datetime(2024, 1, 1, 2, 30, 30)

In [10]:
mydatetime.year  # --> returns yesr of timeobject   # ---> these datetime obj info is useful in feature engineering

2024

In [11]:
# pandas ---> datetime object

# NB:- diff format datetime data, eg:- european format (d/m/y) or american timedate format (y/m/d)

In [13]:
myser = pd.Series(['nov 3 2024', '2024-01-1', None]) # create pandas sries object

In [14]:
myser  # pandas read this as strind dtype

0    nov 3 2024
1     2024-01-1
2          None
dtype: object

In [15]:
myser[0]   # --> returns str data at index 0

'nov 3 2024'

In [16]:
myser[0].year  # ---> error since it is a string

<class 'AttributeError'>: 'str' object has no attribute 'year'

In [17]:
# pandas can read date from string obj ( date string) to understand what is its datetime obj

pd.to_datetime(myser)  # --> converst myuser string obj dtype to datetime dtype

<ipython-input-17-d169beb8645b>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(myser)  # --> converst myuser string obj dtype to datetime dtype

0   2024-11-03
1   2024-01-01
2          NaT
dtype: datetime64[ns]

In [18]:
timeser = pd.to_datetime(myser)  # ---> crete timeser pandas serieswit datetime obj

<ipython-input-18-d1a9130ecec4>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  timeser = pd.to_datetime(myser)  # ---> crete timeser pandas serieswit datetime obj

In [19]:
timeser  # ---> new datetime obj  from str obj dtype

0   2024-11-03
1   2024-01-01
2          NaT
dtype: datetime64[ns]

In [20]:
timeser[0].year # ---> return yaer

2024

In [45]:
# eurpean date VS american date format

#eu time format
euro_date = '30 4 2024'  # string dtype - 30 april 2024  (d/m/y)

In [46]:
euro_date

'30 4 2024'

In [47]:
pd.to_datetime(euro_date)  #pandas convert euro date str to datetime obj ---> us time format 'y/m/d'

<ipython-input-47-976ffd75563e>:1: UserWarning: Parsing dates in %d %m %Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(euro_date)  #pandas convert euro date str to datetime obj ---> us time format 'y/m/d'

Timestamp('2024-04-30 00:00:00')

In [48]:
euro_date2 = '10 04 2024'  # --> what it means - 10 april 2024 (d/m/y)

In [49]:
euro_date2

'10 04 2024'

In [53]:
pd.to_datetime(euro_date2) # --> ERROR - returns wrong datetime obj us time i.e 2024/10/4

#NB - since pandas is built by american for american datetime data, it miss read 10/4/2024 (10 april) as 2024/10/4 (0ctober 4)

Timestamp('2024-10-04 00:00:00')

In [54]:
# dayfirst = true ---> reads eu datetime format correct by pandas method

pd.to_datetime(euro_date2, dayfirst=True)  # ---> returns correct datetime obj

Timestamp('2024-04-10 00:00:00')

In [55]:
# work with datasets with both european & us datetime format in it --> Bad datasets to have both us & eu format mixed

# ---> i.e clean up the mixed date formats in data sets & figure why it is mixed insted of fixing it with pandas

In [57]:
# custom time streaming time formatting

styled_date = '12--Dec--2024'

In [58]:
styled_date

'12--Dec--2024'

In [62]:
# pd.to_datetime(styled_date) ---> gives dataparse error, pandas cannot understand date string format

In [63]:

pd.to_datetime(styled_date, format='%d--%b--%Y')  # --> tell pandas exact format of date string ---> Referpandas date format bdocs

Timestamp('2024-12-12 00:00:00')

In [71]:
custom_date = '31st of dec 2024'

In [72]:
custom_date

'31st of dec 2024'

In [73]:
pd.to_datetime(custom_date)  # ---> we can always try if pandas can translate date string in timedate obj before passing in args or format

Timestamp('2024-12-31 00:00:00')

In [74]:
# ---> i.e pandas is really great & flexible at parsing datetime string obj

In [81]:
# read & resample datetime obj in csv using oandas

sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')  # ---> read retail csv with datetime & no.of sale datas as pandas dataframe

In [82]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [84]:
sales['DATE']  # ---> returns datas in DATE column which is a array of string dtype object

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [85]:
sales['DATE'] = pd.to_datetime(sales['DATE'])   # --> converts the DATE column datas in datetime dtype obj

In [86]:
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [87]:
sales['DATE']  #---> we'll see now pandas has conert DATE dtype from sting obj to datetime obj

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [89]:
sales['DATE'][0]  # ---> we can grab timestamp & call builtin datetime method

Timestamp('1992-01-01 00:00:00')

In [92]:
sales['DATE'][0].year  # ---> grabs year of the first index temestamp from DATE

1992

In [93]:
# we can also use .Apply() custom methods in timedate oobject to extract year, month & day of the week -- **used frequently in feature engiinering

In [94]:
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [95]:
# *** we can also read & parse the date string obj simultaeneously

salesdate = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=[0])  # ---> parse datas in 1st column (i.e DATE) into datatime obj

In [96]:
salesdate

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [98]:
salesdate['DATE']  # ---> we'll see DATE dtype is datetime obj --**recommende we parse date string at first instead of manually

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [100]:
# Resampling timedata obj in pandas ---> come operation in time series data, i.e grouping by when the actual times series has time as the index

sales = sales.set_index("DATE") # ------> setting datetime DATE column as the index of table

In [104]:
sales  # --> we ll see index is timestamp column -- ** we can now .resample() metohd on this, i.e groupby year month etc

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

In [107]:
sales.resample(rule='YE')  # ---> resample/ gruops by year which then wait for some aggr method on it **NB- refer datetime resemple DOCs for syntax

In [109]:
sales.resample(rule='YE').mean()  # ---> groupsby year & returns means/avearage sales per year  **NB - refer Offset alias naming docs in pandas

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

In [112]:
# calling attributes in pandas datetime obj with .dt() method calls (like we have in python)

sales = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=[0])

In [113]:
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [114]:
sales.info()  # --> we' ll see DATE is datetime obj

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [124]:
sales['DATE'].dt.year  # ---> grabs  year attribute  of the datetime dtype DATE column in seri

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int32

In [125]:
sales['DATE'].dt.month  # ---> grabs month attributes in series

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int32

In [122]:
# Recap -
    # timestamp timedate dtypes obj & attributes in python
    # timestamp timedate dtypes in pandas 
    # convert datetime string obj into dtaetime obj
    # reasmple/groupby of timesatmep index & aggregate 

# REfer - Pandas docs on Timestamp datetime objec for all the other cool things we can do in pandas :